extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapLine}
  
  .row
    .col-12.col-md-8
      each cake in cakes
        .card
          .card-block
            h4
              a(href='/cake')= cake.name
              +outputRating(cake.rating)
              span.badge.badge-pill.badge-default.float-right= cake.distance
            p.subdef= cake.subdef
            .qualities
              each quality in cake.qualities
                span.badge.badge-warning= quality
    
    
    .col-12.col-md-4 
      p.lead= sidebar